@import "tailwindcss";

:root {
  --background: #fbfbfe;
  --foreground: #171717;
  --primary: #06122f;
  --primary-foreground: #ffffff;
  --secondary: #f4f0fa;
  --safe-top: env(safe-area-inset-top, 44px);
}

html {
  font-size: 80%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .pt-safe-offset {
    padding-top: calc(var(--safe-top, 44px) + 24px);
  }
}
